﻿@model Neo4JProj.Models.PlesnaSkola

@{
    ViewData["Title"] = "dodajPlesnuSkolu";
}

<h1 style="background-color:lightgreen">Dodaj plesnu skolu</h1>
<br />


<div>
    <button>
        <a href="../Home/Index" class="this-page-style">Vrati se na početnu stranu</a>
    </button>
</div>

<br />

<h4>PlesnaSkola</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="sacuvajPlesnuSkoluUbazu" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idskole" class="control-label"></label>
                <input asp-for="Idskole" class="form-control" />
                <span asp-validation-for="Idskole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brojtel" class="control-label"></label>
                <input asp-for="Brojtel" class="form-control" />
                <span asp-validation-for="Brojtel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocena" class="control-label"></label>
                <input asp-for="Ocena" class="form-control" />
                <span asp-validation-for="Ocena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="DODAJ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
