﻿@model Neo4JProj.Models.Ples

@{
    ViewData["Title"] = "dodajPles";
}

<h1 style="background-color:lightgreen">Dodaj ples</h1>
<br />

<div>
    <button>
        <a href="../Home/Index" class="this-page-style">Vrati se na početnu stranu</a>
    </button>
</div>

<br />

<h4>Ples</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="sacuvajPlesUbazu" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idplesa" class="control-label"></label>
                <input asp-for="Idplesa" class="form-control" />
                <span asp-validation-for="Idplesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zemljaporekla" class="control-label"></label>
                <input asp-for="Zemljaporekla" class="form-control" />
                <span asp-validation-for="Zemljaporekla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="DODAJ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
